p {
	margin-top: 20px;
	margin-bottom: 5px;
}
.code-block {
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-x: auto;
	background-color: #f1f1f1;
	padding: 1rem;
	border-radius: 0.25rem;
}
@media (prefers-color-scheme: dark) {
	.code-block {
		background-color: #1a202c;
		color: #e2e8f0;
	}
}